/* --- Géneralité --- */

body {
    color: #888;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    text-align: center;
    z-index: 1;
}


main, footer {
    padding: 0 10%;
}



h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 600;
}

h2, 
h3 {
    font-size: 19px;
}

h1 {
    color: #CC0000;
    font-family: "Arvo", sans-serif;
    letter-spacing: 7px;
    text-shadow: 2px 2px #E5E5E5;
}

main h2 {
    font-weight: normal;
}

span {
    color: #777;
    font-weight: 600;
}

/* --- Pages --- */
.main-menu i {
    display: none;
}
footer {
    background-color: #F0F0F0;
}
    footer h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        padding-top: 50px;
    }

.contact {
    margin-bottom: 100px;
}

    .contact i {
        margin: 15px;
    }

    .contact li {
        align-items: center;
        display: flex;
    }

footer div span {
    text-decoration: underline;
}

hr {
    margin: 10px;
}

/* -- bouton + formulaire -- */
.btn {
    background: #CC0000;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 0px 0px rgba(2, 2, 2, .2);
    color: #FFF;
    display: inline-block;
    height: 65px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 20px;
    width: 300px;
}

    .btn:hover {
        opacity: 70%;
    }

    .btn:active,
    .btn:focus {
        color: #3c3c3c;
        background: #ED786A;
    }

.formulaire {
    background: #FFF;
    border: none;
    border-radius: 4px;
    box-shadow: inset 2px 2px 0px 0px rgba(2, 2, 2, .2);
    height: 50px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;

}

input + i {
    transform: translateX(-1050%);
}

i {
    background: #3C3C3C;
    border-radius: 100%;
    color: #FFF;
    font-size: 10px;
    opacity: 50%;
    padding: 5px;
}
.inside-btn {
    background: none;
    font-size: 15px;
}



.message {
    height: 200px;
    
}

/* -- Menu -- */
#true {
    display: block;
}

#false {
    display: none;
}

[for="burger-cmd"] {
    background: #F0F0F0;
    border-radius: 4px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    clear: both;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    left: 5px;
    padding: 15px 18px;
    position: absolute;
    top: 5px;
    width: 50px;
    z-index: 1;
}

    [for="burger-cmd"] span {
        background: #3c3c3c;
        flex-basis: 2px;
        opacity: 1;
    }

    [for="burger-cmd"]:active {
        box-shadow: none;
        left: 6px;
        top: 6px;
    }
.main-menu {
    background: #444;
    height: 100%;
    position: absolute;
    width: 130px;
    z-index: 100;
}
    .main-menu a {
        background: #444;
        color: #FFF;
        float: left;
        font-weight: bold;
        height: 20px;
        text-transform: uppercase;
        position: relative;
        width: 130px;
        z-index: 200;
    }

        .second-level a {
            color: #E5E5E5;
            font-weight: normal;
        }

#burger-cmd {
    display: none;
}
/* -- Texte -- */
h1 + p {
    text-transform: uppercase;
}

main p {
    font-family: "Source Sans Pro", sans-serif;
}

.text-noncenter {
    text-align: initial;
}
.text-image-fond {
    color: #F0F0F0;
    font-size: 19px;
    margin: 0;
    padding: 5%;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
}
    .text-image-fond span {
        color: #F0F0F0;
    }

.date {
    background: #888;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    
}

/* -- Liens -- */
p a {
    color: #888;
    text-decoration: underline;
}

footer a {
    color: #888;
}

    footer a:hover,
    footer a:focus {
        color: #FD887A;
    }

/* --- Framework --- */

.first-fakenews img {
    width: 55vw;
}

.div-image-fond {
    height: 230px;
    left: 50%;
    margin: 0;
    overflow: hidden;
    transform: translateX(-50%);
    position: relative;
    width: 125%;
    z-index: 10;
}

.second-fakenews img {
    position: relative;
    width: 75%;
    z-index: 1;
}


img {
    background-color: #F0F0F0;
    padding: 5px;
}
.image-fond {
    left: 50%;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 300%;
    z-index: 1;

}

.article-photo {
    float: left;
    width: 25%;
}

    .article-photo img {
        float: left;
        width: 80%;
    }




/* --- Responsive --- */
@media (min-width:769px) {
    h2, 
    h3 {
        font-size: 16px;
    }
    /* --- Page --- */
    main, 
    footer {
        padding: 0 2%;
    }
    .first-fakenews {
        display: flex;
        flex-direction: column;
    }
        .first-fakenews ul {
            display: flex;
            width: 100%;
        }

        .first-fakenews .btn {
            align-self: center;
        }

    section {
        width: 30%;
    }
    .main-second-part {
        display: flex;
        justify-content: space-between;
    }
        .second-fakenews {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            width: 60%;
        }

        
    footer div:nth-child(2) {
        display: flex;
    }

        footer div div {
            flex-direction: column;
        }
    /* -- bouton + formulaire */
    form {
        padding-right: 200px;
    }

        .formulaire {
            width: 100%;
            margin: 10px;
        }

        .message {
            width: 100%;
        }
    
    input + i {
        transform: translate(-400%, -225%);
    }
        
    

    /* -- Framework -- */
    .first-fakenews img {
        width: 30vw;
    }    

    .div-image-fond {
        width: 105%;
        z-index: 10;
    }
    
        .second-fakenews img {
            width: 100%;
        }

    /* -- Menu-- */
    [for="burger-cmd"] {
        display: none
    }


}

@media (min-width: 992px) {
    /* -- bouton + formulaire */
    input + i {
        transform: translateX(-1050%);
    }
    
    /* -- Framework -- */
    
    .second-fakenews img {
        width: 80%;
    }

    /* -- Menu-- */

}